/* 
COLOR PALETTE

Black      #000000
Rose Red   #f41f4e
White      #fbfbfb
Rosewater  #ffc2c7
Coral Red  #ff4e50
*/

/* GLOBAL
-------------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*setting default to 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #e0dede;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    line-height: 1.4;
    /* font-weight: <weight>; */
    font-style: normal;
}
h1, h2, h3 {
    font-weight: 500;
    margin: 0;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}

/*links*/
a {
    color: #ff4e50;
}
a:hover {
    color: #ffc2c7;
    text-decoration: none;
}
.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}
.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    
}

/* HOME
-------------------------------------------*/
.home{
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    
    flex: 1 0 auto;
}
.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}

@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 10px;
    }    
    .content-bg {
        padding: 20px;
    }  
}

/* RESUME
-------------------------------------------*/
.resume header::before {
    background: url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 50px;

}
.resume-section h2 {
    border-bottom: 2px dashed #9c9ea3;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}
@media screen and (min-width:1200px) {
    .download-link {
        position: absolute;
    }
    
}
@media screen and (max-width:550px) {
    .resume header::before {
        height: 200px;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}
/* Profile
-------------------------------------------*/


/* Projects
-------------------------------------------*/
.project-items {
    margin: 30px 0;
}
.project-items img {
    width: 200px;
}
@media screen and (min-width:700px) {
    .project-items {
        display: flow-root;
    }
    .project-items img {
    float: left;
    margin-right: 20px;
    }
}
@media screen and (min-width:600px) and (max-width:699px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .project-items img {
        width: 100%;
    }
}
@media screen and (max-width:500px){
    .project-items img {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Work Experience
-------------------------------------------*/

/* Education and Certificates
-------------------------------------------*/
.education-item {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}
.work-item {
    margin: 30px 0;
}

@media screen and (min-width:700px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
}



/* .work-details p {
    margin: 0;
}
.work-summary p:first-child {
    margin-top: 0;
} */

/* FOOTER
-------------------------------------------*/
footer {
    background: #222;
    color: #d3d4d6;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
    
}
.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width:700px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}
@media screen and (max-width:699px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}